* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box
}

body {
    position: absolute;
}

html { scroll-behavior: smooth; } /* Provides a smooth scrolling animation when clicking links */

/*Container Settings */
.flex-container {
    margin: 15px;
    padding-left: 9rem;
    padding-right: 9rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.flex-child {
    align-self: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
.column {
    flex-direction: column;
    flex: 50%;
}

.testimonial-column { /* A seperate column system for the testimonials so the layout doesn't mess up on smaller screens */
    flex-direction: column;
    flex: 50%;
}

.column-left {
    width: 50%;
    float: left;
    max-width: 500px;
}

/*Nav Bar */

#nav {
    height: 75px;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    text-align: right;
    border-bottom: 2px solid black;
    z-index: 5;
}

#navlink {
    margin-right: 50px;
}

#brand {
    float: left;
    color: black;
    font-family: 'Averia Serif Libre';
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    margin: 15px 50px;
    text-decoration: none;
}

#brand:hover {
    cursor: pointer;
}

.navlink {
    display: inline-block;
    color: black;
    font-family: Jost;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 10px;
}

/*Header Section */
#header {
    width: 100%;
    height: auto;
    background-image: url('images/hero-image-full.png');
    display: flex;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 120px;
}

#main-title {
    color: white;
    font-family: 'Averia Serif Libre';
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}

#main-text {
    color: white;
    font-family: 'Jost';
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
}

#main-button {
    background-color: white;
    color: black;
    border: 0px solid white;
    border-radius: 30px;
    float: left;
    font-family: Jost;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

/*Our Story Section */
#story-section {
    background-color: #F3F3F3;
    display: flex;
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

#story-title {
    color: black;
    font-family: 'Averia Serif Libre';
    font-size: 2.5rem;
    margin-bottom: 40px;
    margin-top: 50px;
}

#story-text {
    color: black;
    font-family: Jost;
    font-size: 1rem;
    width: 600px;
}

/*Quote Section */
#quote-section {
    background-image: url('images/Candles.jpg.png');
    display: flex;
    height: auto;
    padding-top: 75px;
    padding-bottom: 75px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#quote-title {
    text-align: center;
    width: 500px;
    font-size: 40px;
    font-family: 'Averia Serif Libre';
    font-weight: bold;
    color: white;
}

/*Mission Section */
#mission-section {
    background-color: #F3F3F3;
    display: flex;
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

#mission-title {
    color: black;
    font-family: 'Averia Serif Libre';
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 50px;
}

#mission-text {
    color: black;
    font-family: Jost;
    font-size: 16px;
    width: 600px;
    margin-bottom: 50px;
}

.right-image {
    float: right;
}

/*Testimonials Section */
#testimonials-section {
    background-color: black;
    display: flex;
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

#testimonial-title {
    text-align: center;
    width: 500px;
    font-size: 40px;
    font-family: 'Averia Serif Libre';
    font-weight: bold;
    color: white;
}

#testimonial-text-1 {
    color: white;
    font-family: Jost;
    font-size: 16px;
    text-align: center;
    width: 350px;
    margin: 0 auto;
    padding-left: 300px;
    padding-top: 50px;
}

#testimonial-text-2 {
    color: white;
    font-family: Jost;
    font-size: 16px;
    text-align: center;
    width: 350px;
    margin: 0 auto;
    padding-right: 300px;
    padding-top: 50px;
}

/*Contact Section */
#contact-section {
    background-color: #F3F3F3;
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    display: flex;
}

#contact-title {
    color: black;
    font-family: 'Averia Serif Libre';
    font-size: 40px;
    text-align: center;
}

/*Footer */
#footer {
    background-color: black;
    width: 100%;
    height: auto;
    padding-bottom: 150px;
}

.footer-text {
    color: white;
    font-family: Jost;
    font-size: 16px;
    text-align: center;
    padding-top: 75px;
}

/*Buttons */

.button {
    background-color: black;
    color: white;
    border: 0px solid black;
    border-radius: 30px;
    float: left;
    font-family: Jost;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

/*Form */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
  }

  input[type=textarea] {
    width: 100%;
    padding: 20px 20px;
    margin: 20px 0 40px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
  }

  #form {
    border-radius: 5px;
    padding: 20px;
    width: 800px;
    margin: 0 auto;
  }

  button[type=submit] {
    background-color: black;
    color: white;
    border: 0px solid black;
    border-radius: 30px;
    font-family: Jost;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
  }

  /*** Animations ***/
  .hidden {
    opacity: 0;
    transition: all 1s;
  }

  .show {
    opacity: 1;
  }

  .responsive {
    height: auto;
    width: 100%;
    max-width: 600px;
  }

/*** Media Queries ***/

/* 2xl */

@media (min-width: 1440px) {
    .flex-container {
        max-width: none; /* The container fits the screen width */
        padding-left: 9rem; /* Largest padding to add margins on both sides of the container */
        padding-right: 9rem;
    }

    #header {
        background-color: none;
        background-image: url(images/hero-image-full.png); /* Show the image only on large screens */
    }

    #quote-section {
        background-color: none;
        background-image: url(images/Candles.jpg.png); /* Show the image only on large screens */
    }

    .column-left { /* Make the heading column be half size and align left on large screens */
        width: 50%;
        float: left;
        max-width: 600px;
        padding: 20px;
    }

    .column,
    .testimonial-column { /* Stack columns vertically on smaller screens */
        width: 50%;
        padding: 20px;
    }

    #testimonial-text-1,
    #testimonial-text-2 {
        padding: 0;
        margin-bottom: 20px;
        width: auto;
    }

    #testimonial-text-1 {
        margin-right: 5px;
    }

    #testimonial-text-2 {
        margin-left: 5px;
    }

    #story-text,
    #mission-text {
        width: auto;
    }

    #story-text,
    #story-title {
        margin-left: 40px;
    }

    #mission-text,
    #mission-title {
        margin-right: 40px;
    }

    #story-title,
    #mission-title {
        margin-top: 20px;
    }

    #testimonial-text-1,
    #testimonial-text-2 {
        max-width: 400px;
        margin-top: 30px;
    }
}

/* xl */
@media (min-width: 1280px) and (max-width: 1439px) {
    .flex-container {
        max-width: 1280px;
    }
}

/* lg */
@media (min-width: 1024px) and (max-width: 1279px) {
    .flex-container {
        max-width: 1024px;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .column-left { /* On medium screens and larger, center align the heading column */
        width: 100%;
        max-width: none;
        text-align: center;
    }

    .column,
    .testimonial-column { /* Stack columns vertically on smaller screens */
        width: 100%;
        min-width: 100%;
    }

    .navlink {
        display: inline-block;
    }

    #nav {
        display: block;
    }

    #main-title,
    #main-text {
        text-align: center; /* Center the heading text and title, using ID's as this is where the alignment is originally set */
    }

    #header {
        background-color: black;
        background-image: none;
    }

    .text,
    #story-text,
    #mission-text,
    .title { /* Center text and titles on smaller screens */
        text-align: center;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 30px;
    }

    .left-image,
    .right-image {
        float: none; /* Remove float from images so that they can be centered */
    }

    .responsive { /* Center images on smaller screens */
        margin: 0 auto;
        display: block;
    }

    #testimonial-text-1,
    #testimonial-text-2 {
        padding: 0;
        margin-bottom: 20px;
        width: auto;
    }

    .button,
    #main-button {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        float: none;
    }

    #form {
        width: 90%;
    }
}

/* md */
@media (min-width: 768px) and (max-width: 1023px) {
    .flex-container {
        max-width: 768px;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .column-left { /* On medium screens and larger, center align the heading column */
        width: 100%;
        max-width: none;
        text-align: center;
    }

    .column,
    .testimonial-column { /* Stack columns vertically on smaller screens */
        width: 100%;
        min-width: 100%;
    }

    .navlink {
        display: none;
    }

    #nav {
        display: block;
    }

    #main-title,
    #main-text {
        text-align: center; /* Center the heading text and title, using ID's as this is where the alignment is originally set */
    }

    #header {
        background-color: black;
        background-image: none;
    }

    .text,
    #story-text,
    #mission-text,
    .title { /* Center text and titles on smaller screens */
        text-align: center;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 30px;
    }

    #testimonial-text-1,
    #testimonial-text-2 {
        padding: 0;
        margin-bottom: 20px;
        width: auto;
    }

    .button,
    #main-button {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        float: none;
    }

    #form {
        width: 90%;
    }
}

/*s*/
@media (min-width: 640px) and (max-width: 767px) {
    .flex-container {
        max-width: 640px;
    }
}

/*xs*/
@media (min-width: 475px) and (max-width: 639px) {
    .flex-container {
        max-width: 475px; /* Container size shrinks with screen size, keeping the site responsive on all screen sizes */
    }
}

/*2xs*/
@media (min-width: 320px) and (max-width: 474px) {
    .flex-container {
        max-width: 320px; /* Container size shrinks with screen size, keeping the site responsive on all screen sizes */
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0 auto;
    }

    .column,
    .testimonial-column { /* Stack columns vertically on smaller screens */
        width: 100%;
        min-width: 100%;
    }

    .column-left { /* Make the header full width instead of half wide on smaller screens */
        width: 100%;
        max-width: none;
        text-align: center;
    }

    #main-title,
    #main-text {
        text-align: center; /* Center the heading text and title, using ID's as this is where the alignment is originally set */
        max-width: 818px;
    }

    #quote-title {
        font-size: 30px;
    }

    #quote-section {
        background-color: black;
        background-image: none;
    }

    #header {
        background-color: black;
        background-image: none;
    }

    #testimonial-text-1,
    #testimonial-text-2 {
        padding: 30px;
        width: auto;
    }

    #form {
        width: 90%;
    }
    
    .responsive { /* Center images on smaller screens */
        margin: 0 auto;
        display: block;
    }

    .left-image,
    .right-image {
        float: none; /* Remove float from images so that they can be centered */
    }

    .text,
    #story-text,
    #mission-text,
    .title { /* Center text and titles on smaller screens */
        text-align: center;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 30px;
    }

    .button,
    #main-button {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        float: none;
    }

    #nav {
        display: none;
    }
}










