* {
    padding: 0;
    margin: 0 auto;
}

/*Container Settings */
.flex-container {
    margin: 15px;
    padding-left: 150px;
    width: 100%;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
  
.column-1 {
    height: 100px;
    width: 600px;
    margin: 0;
}
  
.column-2 {
    height: 100px;
    width: 600px;
    margin: 0;
}

/*Nav Bar */

#nav {
    height: 75px;
    width: 100%;
    background-color: white;
    position: fixed;
    text-align: right;
    border-bottom: 2px solid black;
}

#navlink {
    margin-right: 50px;
}

.navlink {
    display: inline-block;
    color: black;
    font-family: Jost;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 10px;
}

a:hover {
    color: white;
    background-color: black;
}
/*Header Section */
#header {
    width: 100%;
    height: 650px;
    background-color: black;
    display: flex;
    align-items: center;
}

#main-title {
    color: white;
    font-family: 'Averia Serif Libre';
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}

#main-text {
    color: white;
    font-family: 'Jost';
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
}

#main-button {
    background-color: white;
    color: black;
    border: 0px solid white;
    border-radius: 30px;
    float: left;
    font-family: Jost;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

/*Our Story Section */
#story-section {
    background-color: #F3F3F3;
    display: flex;
    width: 100%;
    height: 610px;
}

#story-title {
    padding-top: 75px;
    color: black;
    font-family: 'Averia Serif Libre';
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 50px;
}

#story-text {
    color: black;
    font-family: Jost;
    font-size: 16px;
    width: 600px;
}

/*Quote Section */
#quote-section {
    background-color: black;
    display: flex;
    height: 400px;
    width: 100%;
    align-items: center;
}

#quote-title {
    text-align: center;
    width: 500px;
    font-size: 40px;
    font-family: 'Averia Serif Libre';
    font-weight: bold;
    color: white;
}

/*Mission Section */
#mission-section {
    background-color: #F3F3F3;
    display: flex;
    width: 100%;
    height: 620px;
}

#mission-title {
    color: black;
    font-family: 'Averia Serif Libre';
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 50px;
    padding-top: 75px;
}

#mission-text {
    color: black;
    font-family: Jost;
    font-size: 16px;
    width: 600px;
    margin-bottom: 50px;
}

/*Testimonials Section */
#testimonials-section {
    background-color: black;
    display: flex;
    width: 100%;
    height: 564px;
}

#testimonial-title {
    text-align: center;
    width: 500px;
    font-size: 40px;
    font-family: 'Averia Serif Libre';
    font-weight: bold;
    color: white;
    position: relative;
    right: 100px;
    top: 100px;
}

#testimonial-text-1 {
    color: white;
    font-family: Jost;
    font-size: 16px;
    text-align: center;
    padding-top: 75px;
    padding-left: 300px;
    margin-top: 100px;
    width: 350px;
}

#testimonial-text-2 {
    color: white;
    font-family: Jost;
    font-size: 16px;
    text-align: center;
    padding-top: 75px;
    margin-right: 300px;
    margin-top: 100px;
    width: 350px;
}

/*Contact Section */
#contact-section {
    background-color: #F3F3F3;
    width: 100%;
    height: 795px;
}

#contact-title {
    color: black;
    font-family: 'Averia Serif Libre';
    font-size: 40px;
    width: 500px;
    text-align: center;
    padding-top: 125px;
    padding-bottom: 25px;
}

/*Footer */
#footer {
    background-color: black;
    width: 100%;
    height: 350px;
}

.footer-text {
    color: white;
    font-family: Jost;
    font-size: 16px;
    text-align: center;
    padding-top: 75px;
}

/*Images */

.left-image {
    background-color: #cccccc;
    width: 700px;
    height: 500px;
    margin: 0 auto;
    margin-top: 40px;
}

.right-image {
    background-color: #cccccc;
    width: 700px;
    height: 500px;
    margin: 0 auto;
    margin-top: 40px;
}

/*Buttons */

.button {
    background-color: black;
    color: white;
    border: 0px solid black;
    border-radius: 30px;
    float: left;
    font-family: Jost;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

/*Form */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
  }

  input[type=textarea] {
    width: 100%;
    padding: 20px 20px;
    margin: 20px 0 40px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
  }

  #form {
    border-radius: 5px;
    padding: 20px;
    width: 800px;
  }

  button[type=submit] {
    background-color: black;
    color: white;
    border: 0px solid black;
    border-radius: 30px;
    font-family: Jost;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
  }